<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ClientId" value="57d77ea5-a5b1-46ef-8292-49dcf0c762a1" />
		<add key="TenantId" value="979f4440-75dc-4664-b2e1-2cafa0ac67d1" />
		<add key="Authority" value="https://login.microsoftonline.com/{0}" />
		<add key="MSGraphURL" value="https://graph.microsoft.com/v1.0/" />
		<add key="RedirectURL" value="ms-appx-web://microsoft.aad.brokerplugin/{0}" />
		<add key="CacheFileName" value="netcore_winui_cache.txt"/>
		<add key="CacheDir" value="C:\MsalCacheHelper.UserRootDirectory"/>

		<!--write multiple scopes separated by space, Ex: scope1 scope2 ...-->
		<add key="Scopes" value="user.read"/>
	</appSettings>
</configuration>